<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="D3Helper.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <userSettings>
    <D3Helper.Properties.Settings>
      <setting name="HotkeySlot1" serializeAs="String">
        <value />
      </setting>
      <setting name="HotkeySlot2" serializeAs="String">
        <value />
      </setting>
      <setting name="HotkeySlot3" serializeAs="String">
        <value />
      </setting>
      <setting name="HotkeySlot4" serializeAs="String">
        <value />
      </setting>
      <setting name="AutoPotionBool" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="AutoPotionValue" serializeAs="String">
        <value>20</value>
      </setting>
      <setting name="HotkeySlotRmb" serializeAs="String">
        <value />
      </setting>
      <setting name="overlayfps" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="overlayxptracker" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="overlayskillbuttons" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="D3Helper_MainForm_StartPosition" serializeAs="String">
        <value>0, 0</value>
      </setting>
      <setting name="AutoCast1Override" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AutoCast2Override" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AutoCast3Override" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AutoCast4Override" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AutoCastRMBOverride" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AutoGambleBool" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="HotkeyParagonPoints1" serializeAs="String">
        <value />
      </setting>
      <setting name="HotkeyParagonPoints2" serializeAs="String">
        <value />
      </setting>
      <setting name="HotkeyParagonPoints3" serializeAs="String">
        <value />
      </setting>
      <setting name="HotkeyParagonPoints4" serializeAs="String">
        <value />
      </setting>
      <setting name="HotkeySlotLmb" serializeAs="String">
        <value />
      </setting>
      <setting name="D3Helper_UpdateRate" serializeAs="String">
        <value>60</value>
      </setting>
      <setting name="overlayriftprogress" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="riftprogress_radius" serializeAs="String">
        <value>30</value>
      </setting>
      <setting name="HotkeyAutoGamble" serializeAs="String">
        <value />
      </setting>
      <setting name="Logger_extendedLog" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="overlayskillbuttonsastext" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="overlayconventiondraws" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Overlay_APS" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="HotkeyAutoPick" serializeAs="String">
        <value />
      </setting>
      <setting name="AutoPickSettings_Gem" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="AutoPickSettings_Material" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="AutoPickSettings_Legendary" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="AutoPickSettings_GreaterRiftKeystone" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="AutoPickSettings_LegendaryAncient" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AutoPickSettings_PickupRadius" serializeAs="String">
        <value>20</value>
      </setting>
      <setting name="AutoPickSettings_Whites" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AutoPickSettings_Magics" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AutoPickSettings_Rares" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="HotkeyAutoCube_UpgradeRare" serializeAs="String">
        <value />
      </setting>
      <setting name="HotkeyAutoCube_ConvertMaterial" serializeAs="String">
        <value />
      </setting>
      <setting name="DisableAutocastOnNoOverride" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ConvertMaterialText" serializeAs="String">
        <value>Yellow (Veiled Crystal) to White (Reusable Parts)</value>
      </setting>
      <setting name="ConvertMaterialFrom" serializeAs="String">
        <value>rare</value>
      </setting>
      <setting name="ConvertMaterialTo" serializeAs="String">
        <value>normal</value>
      </setting>
    </D3Helper.Properties.Settings>
   </userSettings>
</configuration>